#main_continer {
    height: 100vh;
    background-color: rgb(181, 142, 217);
    background-image: url("/img/banner/b14.png");
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#main_continer .log {
    background-color: rgb(234, 202, 236);
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    cursor: pointer;
    color: #088178;
    border: 1px solid #088178;
    font-size: 17px;
    font-weight: 800;
}